/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
.DS_Store
Thumbs.db
